@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.ttf);
}

* {
	font-family: Montserrat;
}

input{
	&.yc-input{
		border: 1px solid #ccc;
		border-radius: 10px;
		padding: 10px;
		margin: 5px;
	}
}

.main-view{
	.main-view-container{
		overflow: auto;
	}
}

.yc-center-text{
	text-align: center;
}

.yc-md-switch-big{
	.md-container{
		height: 35px;
		width: 50px;
		
		.md-bar{
			width: 45px;
			height: 25px;
			border-radius: 15px;
		}
		.md-thumb{
			height: 30px;
			width: 30px;
		}
	}
}
