.md-dialog-container{
	text-align: center;

	.md-dialog-title{
		margin: 0;
	}

	.worker{
		padding: 30px 0;

		.worker-pic{
			border-radius: 50%;
			width: 70%;
		}

		.md-dialog-stars{
			display: inline-block;
		}

		.md-dialog-name{
			margin: 0;
		}
	}
}
